# Flutter/Dart/Pub related
**/build/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Mac related
.DS_Store

# FVM Version Cache
.fvm/